<div class="container">
    <div class="section-left">
        <div class="period-section">
            <div class="period-description"><span>Período do Dia:</span></div>
            <div class="period-selector">
                <select name="selectPeriod" (change)="onPeriodSelectorChange($event)">
                    @for (period of periodOptions; track $index) {
                        <option [value]="period.value">{{ period.label }}</option>
                    }
                </select>
            </div>
            <div class="period-info">
                <span><i class="fa-solid fa-circle-info"></i></span>
            </div>
        </div>
    </div>
    <div class="section-right"><span>Teste B</span></div>
</div>
