<div class="home-area-general">
    <h1>Bem vindo{{userNameParam}}!</h1>
    <h2>O FtF, Find The Fun, tem como objetivo facilitar o encontro de passeios e locais para aproveitar seu tempo livre, e salvar os locais que desejar em sua lista pessoal.</h2>
    <span><i class="fa-solid fa-circle"></i> Na tela Procurar Locais, você consegue buscar estabelecimentos de acordo com os filtros escolhidos;</span><br>
    <span><i class="fa-solid fa-circle"></i> Na tela Locais Salvos, você consegue visualizar os locais salvos na sua lista pessoal;</span><br>
    <span><i class="fa-solid fa-circle"></i> A tela de tela de Roteiros está em desenvolvimento, sua função será visualizar dicas de roteiros feitos por você ou por outros usuários(EM DESENVOLVIMENTO).</span><br>
</div>
