$height-param: 20vh;

.topnav {
    background-color: #f2eded;
    overflow: hidden;
    height: $height-param;
    width: 100%;
    border-bottom: 1px solid;
}

.topnav a:hover {
    background-color: #C6B9B9;
    color: #F87C56;
    border: 1px solid;
}

.topnav a.active {
    background-color: green;
    color: #000000;
    border: 1px solid;
}

.title-project {
    float: left;
    color: #F87C56;
    text-align: center;
    text-decoration: none;
    height: $height-param;
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    cursor: default;
}

.title-pages {
    float: left;
    color: #000000;
    text-align: center;
    text-decoration: none;
    height: $height-param;
    width: 19%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: default;
}

.span-icons {
    font-size: 20px;
}

.span-project-name{
    font-size: 30px;
}