<nav class="topnav">
    <a class="title-project" routerLink="/" routerLinkActive="active">
        <span>FtF</span>
        <span class="span-project-name">Find The Fun</span>
    </a>
    <a class="title-pages" routerLink="/procurar-locais" routerLinkActive="active">
        <span> Procurar Locais <i class="fa-solid fa-magnifying-glass-location span-icons"></i>
        </span>
    </a>
    <a class="title-pages" routerLink="/locais-salvos" routerLinkActive="active">
        <span>Locais Salvos <i class="fa-solid fa-bookmark span-icons"></i>
        </span>
    </a>
    <a class="title-pages" routerLink="/roteiros" routerLinkActive="active">
        <span>Roteiros <i class="fa-solid fa-route span-icons"></i>
        </span>
    </a>
    <a class="title-pages" routerLink="/opcoes" routerLinkActive="active">
        <span>Opções <i class="fa-solid fa-user-gear span-icons"></i>
        </span>
    </a>
</nav>
